@page
@model Proyecto_RAZOR.Pages.Ejer3Model
@{
	ViewData["Title"] = "Ejercicio 3";
}

<!--

Generar una web que, dada una fecha solicitada
en un cuadro de texto, nos devuelve cuantos días
hay desde esa fecha hasta el día de hoy. Se debe
controlar que la fecha sea inferior al día de hoy
y se realiza la devolución del valor en días sobre
la misma página actual.

Que se muestren los dias como numeros enteros.
Sin usar TimeSpan
-->

<h1>Calculadora de días</h1>
<br />
<form method="post">
	<p>Introduce una fecha: </p> <input type="date" name="fecha" />
	<br />
	<br />
	<button type="submit" name="calcular">Calcular</button>
</form>
<br />
<br />

<div class="resultados">
	@{
		if (Request.Method == "POST")
		{
			DateTime fecha;
			if (DateTime.TryParse(Request.Form["fecha"], out fecha))
			{
				if (fecha < DateTime.Now)
				{
					int dias = (DateTime.Now - fecha).Days;
					<p>Desde @fecha hasta hoy han pasado @dias días</p>
				}
				else
				{
					<p>Introduce una fecha anterior a hoy</p>
				}
			}
			else
			{
				<p>Introduce una fecha válida</p>
			}
		}
	}
