@page
@model IndexModel
@{
    ViewData["Title"] = "Portada";
}

<style>
</style>

<div class="text-center">
    <h1 class="display-4">Portada</h1>
    <p>El Layout está listo.</p>
    <br />
    <h2>Ejercicio 1</h2>
    <p>Operaciones con Números</p>
    <br />
    <h2>Ejercicio 2</h2>
    <p>Cuenta las palabras de la frase</p>
    <br />
    <h2>Ejercicio 3</h2>
    <p>Ejercicio 3</p>
    <br />
</div>
