@page
@model IndexModel
@{
    ViewData["Title"] = "Portada";
}


<head>
    <link rel="stylesheet" href="./css/Index.css" />
</head>

<h1 class="display-4">Portada</h1>
<div id="descripciones" class="text-center">
    <br />
    <br />
    <h2>Ejercicio 1</h2>
    <p>Operaciones con Números</p>
    <br />
    <h2>Ejercicio 2</h2>
    <p>Cuenta las palabras de la frase</p>
    <br />
    <h2>Ejercicio 3</h2>
    <p>Calculadora de días</p>
    <br />
    <h2>Ejercicio 4</h2>
    <p>Calculadora avanzada</p>
    <br />
    <h2>Ejercicio 5</h2>
    <p>Generador de tablas</p>
    <br />
    <h2>Ejercicio 6</h2>
    <p>Generador de contraseñas</p>
    <br />
    <h2>Ejercicio 7</h2>
    <p>Contador de números</p>
    <br />
    <h2>Ejercicio 8</h2>
    <p>Números a imagenes</p>
    <br />
</div>
