#numeroIN {
    width: 200px;
    text-align: center;
    border-radius: 15px;
}

#ver {
    width: 200px;
    text-align: center;
    border-radius: 15px;
}

#imagenes {
    display: flex;
    width: 75%;
    margin-top: 40px;
}

img {
    width: 75px;
    height: 75px;
    margin: 0;
}

